
<table>
       <tr>

      <td><%= f.hidden_field(:questionnaire_id, :readonly => true, :value => @questionnaire.id )%></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= f.text_field(:description, required: true)%></td>
    </tr>

    <tr>
      <th>Options
       <div id="tooltip">
                <img src="https://friconix.com/png/fi-ctluxx-exclamation-mark-rounded.png", style="width:15px;height:16px;"> </img>

            <span id="tooltiptext"> Please add comma before and after each option. Example => [, Option1 , Option2 ,] </span> </div>


      </th>
      <td><%= f.text_field(:options, required: true)%></td>
    </tr>

    <tr>
      <th>Match
      <div id="tooltip">
                <img src="https://friconix.com/png/fi-ctluxx-exclamation-mark-rounded.png", style="width:15px;height:16px;"> </img>

            <span id="tooltiptext">If you tick this box,matched with others who have same answer as them - Please do not tick it if you want to give the choice to users.</span> </div>

</th>
      <td><%= f.check_box(:match)%></td>
    </tr>

    <tr>
      <th>Matching up to user <div id="tooltip">
                <img src="https://friconix.com/png/fi-ctluxx-exclamation-mark-rounded.png", style="width:15px;height:16px;"> </img>

            <span id="tooltiptext">If you tick this box, users will be able to decide if they want to be matched with others who have same answer as them. </span> </div> </th>
      <td><%= f.check_box(:matching_up_to_user)%></td>


    </tr>

    <tr>
      <th>Give priority

      <div id="tooltip">
                <img src="https://friconix.com/png/fi-ctluxx-exclamation-mark-rounded.png", style="width:15px;height:16px;"> </img>

            <span id="tooltiptext">If you tick this box, users who answer this question with "true" will be prioritize in the matching process </span> </div>


      </th>
      <td><%= f.check_box(:give_priority)%></td>
    </tr>

  </table>
