<%= link_to "Back", admin_profile_path(@admin.id), :class => "btn btn-primary" %>

</br>

<%= render('error_admin') %>

<h1>Change Password</h1>

<%= form_for(@admin, :url => admin_profile_change_password_path) do |f| %>

<!-- Partial form with input fields -->
<%= render(:partial=> 'edit_password_form', :locals => {:f => f}) %>

</br></br>

<%= f.submit("Change") %>

<% end %>
