<% provide(:title,"Profile") %>

<div class="container">
  <div class="row pb-1">
    <h2>Profile Information</h2>
  </div>

	<div class="container px-lg-2">
   	   <div class="col mx-lg-n2">

         <%
           info_master = [
             ["Username:", @admin.username],
             ["First name:", @admin.first_name],
             ["Last name:", @admin.last_name],
             ["Admin access:", @admin.admin_access.join(", ")]
           ]

           if ["assigned schemes", "assigned departments and schemes"].include?(@admin.scheme_access)
              info_master.push(["Assigned schemes:", Scheme.where(:id => @admin.scheme_ids).map{|scheme| scheme.title}.join(", ")])
           end

           if ["assigned departments", "assigned departments and schemes"].include?(@admin.scheme_access)
              info_master.push(["Assigned departments:", Department.where(:id => @admin.department_ids).map{|department| department.name}.join(", ")])
           end

           info_master.push(["Created at:", @admin.created_at])
           info_master.push(["Updated at:", @admin.updated_at])
         %>

         <% info_master.each do |info| %>
           <div class="row">
             <%= info[0] %>
           </div>
           <div class="row pb-2 font-weight-bold">
             <%= info[1] %>
           </div>
         <% end %>

        <hr class="solid mt-3 mb-3">

        <%= link_to("Edit info", edit_admin_profile_path, :class => "btn btn-secondary back-link") %>
        <br>
        <%= link_to("Change password", admin_profile_change_password_path, :class => "btn btn-secondary back-link") %>
        <br>
        <%= link_to("Create Scheme", new_scheme_path, :class => "btn btn-secondary back-link") %>

   	    </div>
   	</div>
</div>
