

<div>
    <h2>Show User</h2>

    <table summary="User detail view">

            <th>Username</th>
            <td><%= @user.username %></td>
        </tr>
        <tr>
            <th>First Name</th>
            <td><%= @user.first_name %></td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td><%= @user.last_name %></td>
        </tr>
        <tr>
            <th>Gender</th>
            <td><%= @user.gender%></td>
        </tr>
        <tr>
            <th>Age</th>
            <td><%= @user.age %></td>
        </tr>
    </table>
</div>
