<div class="modal fade" id="mentor" tabindex="-1" role="dialog" aria-labelledby="mentorLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="mentorLabel">Mentors </h5>
      </div>
      <div class="modal-body">

          <div class= "container">
            <% @mentors = EnrollIn.where(role: "mentor", scheme_id: params[:scheme_id])%>


            <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">Mnetor Name</th>
            <th scope="col">Answers</th>


          </tr>
        </thead>
        <tbody>
          <% @mentors.each do |mentor| %>
          <div class ="row">
            <tr style="transform: rotate(0);">
              <th id="row_number" scope="row">
                <%= User.find(mentor.user_id).first_name%>  <%= User.find(mentor.user_id).last_name%> </th>
              <td>

                <% @answer = Answer.where(scheme_id: params[:scheme_id], user_id: mentor.user_id).first %>
                <%if @answer !=nil%>
                <%=  @answer.user_answers%>
<%end%>
              </td>

<td>

             <%  $mentor = mentor
          %>



             <%= form_for(@match, url: new_matches_path , :method => 'post') do |f| %>

              <%render(:partial => 'match_form', :locals => {:f => f, :scheme_id => params[:scheme_id]}) %>
            <hr class="solid">
              <div class="form-buttons p-2" align="center">
                <%= f.submit("Match them", class:"btn btn-success") %>
              </div>
              <% end %>


 </td>



              </td>
            </tr>
          </div>
          <% end %>

        </tbody>
      </table>



            </div>



        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
